absl-py==0.5.0
astor==0.7.1
certifi==2019.3.9
Click==7.0
ez-setup==0.9
Flask==1.0.2
gast==0.2.0
graphviz==0.9
grpcio==1.15.0
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==1.1.0
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Pillow==3.4.2
pip-autoremove==0.9.1
pysqlite3==0.2.0
PyYAML==3.13
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
Werkzeug==0.14.1
